
.text-area {
    -fx-text-fill: #ffffff; /* Text color */
    -fx-border-width: 0px; /* Remove border */
    -fx-border-color: transparent; /* Make border transparent */
    -fx-focus-color: transparent; /* Remove focus color */
    -fx-faint-focus-color: transparent; /* Remove faint focus color */
    -fx-background-color: #272727; /* Background color */
    -fx-background-insets: 0; /* Remove any background insets */
    -fx-padding: 0; /* Remove padding */
}

.text-area .content {
    -fx-background-color: #272727; /* Background color for the content */

}

.text-area .scroll-pane .viewport {
    -fx-background-color: #272727; /* Ensure scroll pane viewport has the same background color */
}

#CustomMFXComboDark {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-mid-text-color: #B9B9B9;
    -fx-pref-width: 180;
    -fx-pref-height: 25;
    -fx-border-width: 0;
}


#CustomMFXcheck {
    -fx-text-fill: #B9B9B9;
    -fx-mid-text-color: #B9B9B9;
    -fx-border-color: transparent transparent #B9B9B9 transparent;
    -fx-border-width: 0 0 2px 0;
}

.tree-table-view .column-header {
    -fx-font-size: 14px;
    -fx-background-color: #272727;
    -fx-mid-text-color: #FFFFFF;
    -fx-padding: 0px 0px 0px 0px;
    -fx-border-color: transparent transparent transparent transparent !important;
    -fx-border-width: 0px 0px 1px 0px!important;
    -fx-alignment: CENTER;
    -fx-spacing: 60px;
    -fx-font-family: "Arial";

}

.tree-table-view {
    -fx-background-insets: 0;
    -fx-background-color: #272727;
    -fx-mid-text-color: #FFFFFF;
    -fx-text-fill: white;
    -fx-border-insets: 0;
    -fx-border-color: transparent transparent transparent transparent  !important;
    -fx-border-width: 0px 0px 1px 0px  !important;
}

.table-cell {
    -fx-background-insets: 0, 0;
    -fx-border-width: 0px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

.tree-table-cell {
    -fx-background-insets: 0, 0;
    -fx-border-width: 0px;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}



#EditingPanel {
    -fx-background-color: #272727;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 1px 0 1px 0;
}


.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Set your desired background color */
    -fx-background-insets: 0;
    -fx-padding: 10px; /* Adjust padding to increase height */
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #999; /* Set the thumb (the draggable part) color */
}


.scroll-pane .scroll-bar .filler {
    -fx-background-color: #272727; /* Set your desired background color */
}

.scroll-pane .filler {
    -fx-background-color: #272727; /* Set your desired background color */
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent; /* Set background color of the track */
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #535353; /* Set pressed background color of the thumb */
    -fx-scale-x: 0.4;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow {
    -fx-background-color: transparent; /* Set color of the arrows */
}

.scroll-pane> .virtual-flow > .corner{
    -fx-background-color: red
;
}

.tree-table-view .scroll-bar {
    -fx-background-color: transparent; /* Set your desired background color */
    /* Adjust padding to increase height */
    -fx-background-insets: 0;
}

.tree-table-view .scroll-bar .filler {
    -fx-background-color: #272727; /* Set your desired background color */
}

.tree-table-view .filler {
    -fx-background-color: #272727; /* Set your desired background color */
}



.tree-table-view .scroll-bar .track {
    -fx-background-color: transparent; /* Set background color of the track */
}

.tree-table-view .scroll-bar .thumb {
    -fx-background-color: #535353; /* Set pressed background color of the thumb */
    -fx-scale-x: 0.4;
}

.tree-table-view .increment-arrow,
.tree-table-view .decrement-arrow {
    -fx-background-color: transparent; /* Set color of the arrows */
}

.tree-table-view > .virtual-flow > .corner{
    -fx-background-color: transparent
;
}


.scrollpane {
    -fx-background-color: #272727;
}

.countdown {
    -fx-text-fill: #B9B9B9;
}


.Test-submit {
    -fx-background-color: #272727;
    -fx-text-fill: #B9B9B9;
    -fx-border-color: #535353;
    -fx-border-width: 1px;
    -fx-background-radius: 10px; /* Adjust the radius as needed */
    -fx-border-radius: 10px;
}

.mfx-button {
    -fx-background-color: #272727;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-mid-text-color: white;
}

#mfx-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-mid-text-color: white;
}


#errorMessageLabel {
    -fx-mid-text-color: #CE6C6C; /* Note: This property might not exist in JavaFX, double-check for correct property */
    -fx-text-fill: #CE6C6C;
}

#subjectLabel{
    -fx-mid-text-color: white; /* Note: This property might not exist in JavaFX, double-check for correct property */
    -fx-text-fill: white;
}
/* Style for the ComboBox */
#subjectivities .combo-box-popup .list-cell:filled:selected
{
    -fx-background-color:  #697D97;
    -fx-text-fill: white;
}

.GradeLabel {
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color: transparent;  /* Background color of the combo box */
    -fx-text-fill: white;
    -fx-mid-text-color: white;
    -fx-border-color: transparent ;
    -fx-border-width: 0 ;

}

.combo-box-base .arrow {
    -fx-background-color: white;
}

.combo-box-popup .list-cell {
    -fx-background-color: #272727;
    -fx-text-fill: white;

}

.mfx-date-picker {
    -fx-background-color: transparent;
    -fx-text-fill: #272727;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

#Panel{
    -fx-background-color: #272727;
    -fx-border-color: white;
}

.dark-theme-row {
    -fx-background-color: #272727;
    -fx-padding: 10px 0px 10px 0px;
    -fx-text-fill: white;
    -fx-border-width: 0px;
    -fx-border-insets: 0;
}

.selected-row {
    -fx-background-color: #8AA1B4;
    -fx-padding: 10px 0px 10px 0px;
    -fx-border-width: 0px;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.spinner {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #B9B9B9 transparent;
    -fx-border-width: 0 0 2px 0; /* Adjust the bottom border width */
}

.spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Remove border from TextField */
    -fx-focus-color: transparent; /* Remove focus border */
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 0; /* Remove borders from arrow buttons */
}

.spinner .arrow-button {
    -fx-border-width: 0; /* Remove arrow button border */
    -fx-background-color: transparent; /* Remove arrow button background */
}

.spinner .increment-arrow,
.spinner .decrement-arrow {
    -fx-background-color: white;
    -fx-border-width: 0; /* Remove borders from arrow buttons */
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #B9B9B9;
    -fx-prompt-text-fill: #B9B9B9; /* Color for the prompt text */
    -fx-border-color: transparent transparent #B9B9B9 transparent;
    -fx-border-width: 0 0 2px 0; /* Adjust the bottom border width */
}










